<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="emailService" class="org.example.EmailService"/>
    <bean id="smsService" class="org.example.SMSService"/>

    <bean id="myApplication" class="org.example.MyApplication">
        <property name="messageService" ref="emailService"/>
    </bean>

</beans>
